<div id="container">

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <h1>Connexion</h1>

    <label><b>Nom d'utilisateur</b></label>
    <input type="text" placeholder="Entrer le nom d'utilisateur"
           name="username" required id="username" name="username" [formControlName]="'username'">

    <label><b>Mot de passe</b></label>
    <input type="password" placeholder="Entrer le mot de passe"
           name="password" required id="password" name="password" [formControlName]="'password'">


    <button class="btn btn-primary account-btn" type="submit"
            [disabled]="loginForm.invalid">Login</button>

    <!--<input type="submit" id='submit' value='LOGIN' [disabled]="loginForm.invalid" >-->
  </form>
</div>
